* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'outfit', sans-serif;
}

/* Header Section */
.title {
  font-weight: 600;
}

.journal-header{
  background-color: #d74180;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 36px;
  color: white;
  margin-left: 40px;
  margin-right: 40px;
}

/* Footer Section */
.journal-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5a595a;
  height: 130px;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* .footer-caption {
  padding-left: 5px;
} */